<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoundNature.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F1D136E1F2F3AAD00872912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1D13851F2F3AAE00872912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1D13901F2F3AAE00872912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
